/* Core style */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    margin: 0;
}

/* wrapper */

.wrapper {
    overflow: hidden;
}

.contianer {
    max-width: 1110px;
    margin: 0 auto;
}

.title-box .title-info {
    color: #9A6437;
    font-size: 16px;
    font-weight: 400;
    padding-left: 65px;
    position: relative;
    margin-bottom: 21px;
}

.title-box .title-info::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #9A6437;
    width: 55px;
    height: 1.2px;
    transform: translateY(-50%);
}

.title-box .title {
    color: #1B1A1A;
    font-size: 42px;
    font-weight: 400;
}

.btn {
    color: #1B1A1A;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 17px;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: calc(100% + 5px);
    height: 0.6px;
    background: #000;
    box-shadow: 5px 30px 0px 0 #000;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 0.6px;
    height: calc(100% + 5px);
    background: #000;
    box-shadow: -113px -5px 0px 0 #000;
}

/* header */

.header {
    background-color: #D3CBC5;
    padding: 22px 0;
}

.header .contianer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-logo {
    display: flex;
    align-items: center;
}

.header .header-brand_name {
    margin-left: 5px;
    color: #555;
    font-family: "Oswald";
    font-size: 16px;
    letter-spacing: 0.56px;
}

.header .nav-list {
    display: flex;
}

.header .nav-list .nav-item {
    list-style: none;
    margin-left: 41px;
}

.header .nav-item:first {
    margin-left: 0;
}

.header .nav-list .nav-link {
    text-decoration: none;
    color: #1B1A1A;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    border-bottom: 1px solid transparent;
}

.header .nav-list .nav-link:hover {
    border-bottom: 1px solid #555;
}


.header .header-shopping {
    display: flex;
    align-items: center;
}

.header .header-shopping button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.header .header-shopping .header-shopping_cart {
    margin-left: 27px;
    position: relative;
}

.header .header-product_number {
    position: absolute;
    top: -4px;
    right: -3px;
    background-color: #781414;
    border-radius: 50%;
    padding: 0.5px 2px;
}

.header .header-product_number span {
    color: #FFF;
    font-size: 6px;
    font-weight: 300;
    display: inherit;
}

/* main-section */

.main-section {
    background-image: url(../images/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 206px 0 287px 0;
}

.main-section .main-section_content {
    margin-left: 74px;
    position: relative;
    padding-top: 22px;
}

.main-section .main-section_content ::before {
    content: "";
    position: absolute;
    top: 0;
    left: -44px;
    width: 292px;
    height: 1px;
    background-color: #6B6C71;
}

.main-section .main-section_content ::after {
    content: "";
    position: absolute;
    top: -28px;
    left: -21px;
    width: 1px;
    height: 261px;
    background-color: #6B6C71;
}

.main-section .main-brand_name {
    color: #2C314B;
    font-size: 16px;
}

.main-section .main-content_title {
    color: #1B1A1A;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    width: 361px;
    margin: 7px 0 15px 0;
}

.main-section .main-content_price {
    color: #121211;
    font-size: 24px;
}

.main-section .main-content_price span {
    color: #878787;
    font-size: 16px;
}

.main-section .main-btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 17px;
    text-decoration: none;
    background: #1C1B1B;
    border: 1px solid transparent;
    transition: all 0.2s linear;
}

.main-section .main-btn:hover {
    background-color: transparent;
    color: #1C1B1B;
    border-color: #1C1B1B;
}


/* slider section  */

.slider-section {
    margin: 94px 0 114px 0;
}

.slider-section .contianer {
    position: relative;
}

.swiper-slide {
    background-color: #E5E6E6;
    padding-top: 50px;
    height: 449px;
    position: relative;
}

.slide-content {
    padding-left: 31px;
}

.slide-content .slide-title {
    color: #282828;
    font-size: 29px;
    line-height: 40px;
    width: 215px;
}

.slide-two .slide-title {
    margin-bottom: 40px;
}


.slide-one .slide-img {
    text-align: right;
    padding: 17px 48px 19px 0;
}

.slide-two .slide-img {
    margin-top: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slide-two .slide-img img {
    transform: translateY(5px);
    width: 100%;
    height: 260px;
}

.slide-three .slide-img {
    padding: 35px 51px 9px 0;
    text-align: right;
}

.swiper-button-prev {
    left: -99px;
    color: #1B1A1A;
}

.swiper-button-next {
    right: -99px;
    color: #1B1A1A;
}

/* products */

.products {
    margin-bottom: 100px;
}

.products .title-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products .title-navbar .product-sort-btn {
    border: none;
    background-color: transparent;
    color: #353535;
    font-style: 16px;
    transition: all 0.2s linear;
    padding: 9px 22px;

}

.products .title-navbar .product-sort-btn:hover {
    background-color: #1C1B1B;
    color: #FFF;
}


.products .title-navbar .product-sort-btn.active {
    cursor: pointer;
    color: #FFF;
    background: #1C1B1B;
    padding: 9px 22px;
}

.products-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    justify-content: space-between;
    margin-top: 34px;
    gap: 39px 30px;
}

.product-card .product-box {
    background-color: #F7F7F7;
    height: 274px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-box img {
    margin: auto 0;
}

.product-box-bottom {
    width: 100%;
    padding: 9px 0;
    background-color: #1C1B1B;
}

.product-box-bottom button>svg:hover>path {
    fill: aqua;
}


.product-box-bottom button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.product-box-bottom button:nth-child(2) {
    margin: 0 19px;
}

.product-content .product-name {
    margin: 6px 0 9px 0;
    color: #282828;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.product-content .product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-content .product-price {
    color: #1E1D1D;
    font-size: 15px;
    line-height: 28px;
}

.product-content .product-old-price {
    color: #737373;
}

/* clients */

.clients::after {
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(14, 14, 14, 0.39);
}


.clients {
    margin: 99px 0 106px 0;
    z-index: 1;
    position: relative;
    background-image: url(../images/big-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 73px 0 82px 0;
}

.bfr-aftr::after {
    content: "";
    position: absolute;
    top: 76%;
    left: 37%;
    background-color: #E0E0E0;
    width: 55px;
    height: 1.2px;
}

.bfr-aftr::before {
    content: "";
    position: absolute;
    top: 76%;
    left: 58%;
    background-color: #E0E0E0;
    width: 55px;
    height: 1.2px;
}

.bfr-aftr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bfr-aftr h4 {
    margin-top: 73px;
    color: #E0E0E0;
    font-size: 16px;
    line-height: 60px;
}

.client-title h2 {
    color: #FFF;
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    line-height: 60px;
    margin: 21px 0 82px 0;
}

.clients .clients-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 80px 20px;

}

.clients .clients-box .client {
    margin: 0 auto;
    position: relative;
    text-align: center;
    background-color: #FFF;
    width: 255px;
    padding: 22px;
    transition: all 0.3s linear;
    width: 100%;
}

.clients .clients-box .client:hover {
    transform: translateY(-42px);
}


.clients .client .client-img {
    position: absolute;
    top: -35px;
    left: 29%;
    margin: 0 auto;
    text-align: center;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.clients .client h3 {
    margin: 0 auto;
    color: #1B1A1A;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 73px;
}

.clients .client .star-h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients .star-h4 img {
    padding-top: 5px;
}


.clients .client h4 {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}


.clients .client p {
    color: #999;
    text-align: center;
    font-size: 14px;
}

/* recent-artikle */

.recent-artikle {
    margin: 100px 0;
}

.recent-artikle .title-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn-two {
    color: #1B1A1A;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    width: 132px;
    height: 37px;
    padding: 8px 3px 3px 7px;
    position: relative;
}

.btn-two::before {
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    width: calc(100% + 5px);
    height: 0.6px;
    background: #000;
    box-shadow: 5px 30px 0px #000;
}

.btn-two::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    width: 0.6px;
    height: 100%;
    background: #000;
    box-shadow: -133px -6px 0px #000;
}

/* black-box */

.black-box {
    margin: 100px auto;
}

.black-box .contianer {
    background: #1C1B1B;
}

.black-box .black-boxes:first-child {
    margin-left: 0;
}


.black-box .black-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    padding: 57px 51px;
    gap: 30px;
}

.black-box .black-boxes .box {
    padding: 0 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #A6A6A6;
}

.black-box .black-boxes .bdrn {
    border-right: transparent;
}


.black-box .box-texts {
    padding-left: 14px;
}

.black-box .box-texts h4 {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.black-box .box-texts p {
    margin: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

/* last-section */

.last-section {
    text-align: center;
    margin-top: 134px;
    background-image: url(../images/last-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 88px 0px 78px 0px;
}

.last-section .last-brand {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-section .last-brand img {
    width: 62.969px;
    height: 70.897px;
}


.last-section .last-brand h3 {
    margin-left: 14px;
    color: #555;
    font-family: "Oswald";
    font-size: 35px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1.225px;
}

.last-section h2 {
    color: #1B1A1A;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
}

.last-section p {
    margin: 7px auto 17px auto;
    width: 406px;
    color: #5E5E5E;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

.last-section .email {
    display: flex;
    justify-content: center;
}

.last-section .email .email-input {
    outline: none;
    padding: 11px 0px 11px 13px;
    width: 275px;
    height: 37px;
    border-radius: 4px;
    border: 0.8px solid #5A5A5A;
    background-color: #DDD7D1;
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
}

.last-section .email .sumbit {
    margin-left: 10px;
    width: 127px;
    height: 37px;
    background-color: #DDD7D1;
    border: 0.8px solid #5A5A5A;
    color: #1B1A1A;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
}


/* swiper slider-2 */

.mySwiper-two .swiper-slide {
    background-color: transparent;
    padding: 0;
    margin: 10px 0px;
    position: relative;
}

.mySwiper-two .swiper-slider {
    height: 100%;
    width: 350px;
    border: 1px solid #ACACAC;
    background-image: none;
}

.swiper-button-prev {
    top: 65%;
    left: -99px;
    color: #1B1A1A;
}

.swiper-button-next {
    top: 65%;
    right: -99px;
    color: #1B1A1A;
}

.mySwiper-two .client-title h2 {
    color: #1B1A1A;
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    line-height: 60px;
}

.mySwiper-two .bfr-aftr::after {
    content: "";
    position: absolute;
    background-color: #9A6437;
    width: 55px;
    height: 1.2px;
}

.mySwiper-two .bfr-aftr::before {
    content: "";
    position: absolute;
    background-color: #9A6437;
    width: 55px;
    height: 1.2px;
}

.bfr-aftr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper-two .bfr-aftr h4 {
    margin-top: 73px;
    color: #9A6437;
    font-size: 16px;
    line-height: 60px;
}

.mySwiper-two .swiper-slider .slide-texts {
    padding: 37px 29px 24px 30px;
    position: relative;
}

.mySwiper-two .slide-texts .day {
    padding: 9px 11px 4px 11px;
    height: 43px;
    background-color: #FFF;
    border-bottom: 3px solid #B47139;
    top: -40px;
    position: absolute;
}

.mySwiper-two .day h2 {
    color: #000;
    text-align: center;
    font-size: 17px;
}

.mySwiper-two .day h4 {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.mySwiper-two .man-comment {
    display: flex;
}

.mySwiper-two .man {
    display: flex;
}

.mySwiper-two .man h3 {
    color: #808080;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    margin-left: 6px;
}

.mySwiper-two .comment {
    display: flex;
    align-items: center;
    margin-left: 27px;
}

.mySwiper-two .comment h3 {
    margin-left: 6px;
    color: #808080;
    font-size: 14px;
    font-weight: 300;
}

.mySwiper-two .slide-texts h2 {
    color: #2E2D2D;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.mySwiper-two .slide-texts .btn-three {
    color: #1B1A1A;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
    position: relative;
    padding: 0px 17px 7px 17px;
}

.btn-three::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -4px;
    width: 140px;
    height: 0.8px;
    background: #000;
    box-shadow: 6px 37px 0px 0 #000;
}

.btn-three::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 9px;
    width: 0.6px;
    height: 44px;
    background: #000;
    box-shadow: -134px -6px 0px #000;
}


/* footer-section */

.footer .footer-content {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-content {
    color: #424242;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
}

.footer .footer-link img {
    padding-left: 20px;
    margin-top: 10px;
}


/* madia query start */

@media screen and (max-width: 1330px) {
    .slider-section .swiper-button-prev {
        left: 0;
    }

    .slider-section .swiper-button-next {
        right: 0;
    }
}


@media screen and (max-width: 1150px) {
    .contianer {
        max-width: 90%;
    }
    .bfr-aftr::after {
        left: 35%;
    }

    .bfr-aftr::before {
        left: 59%;
    }
}

@media screen and (max-width: 990px) {
    .products .title-navbar {
        flex-direction: column;
        align-items: start;
    }

    .products .title-navbar .product-sort {
        margin-top: 10px;
    }
    .bfr-aftr::after {
        left: 33%;
    }

    .bfr-aftr::before {
        left: 60%;
    }
}

#check {
    display: none;
}

.media-btn {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 925px) {
    .header .nav-list {
        position: fixed;
        top: 0;
        left: -100%;
        width: 45%;
        height: 100%;
        background-color: #D9D9D9;
        z-index: 999;
        flex-direction: column;
        padding-top: 30px;
        transition: all 0.5s ease-in-out;
    }
    .header .nav-list .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }
    #check:checked ~ .nav-list {
        left: 0;
    }
    .media-btn {
        display: block;
    }
}

@media screen and (max-width: 880px) {
    .bfr-aftr::after {
        left: 31%;
    }

    .bfr-aftr::before {
        left: 61%;
    }

    .black-box .black-boxes .border-right {
        border-right: 1px solid #A6A6A6;
    }

    .black-box .black-boxes .border-right-4 {
        border-right: transparent;
    }
}

@media screen and (max-width: 770px) {
    .bfr-aftr::after {
        left: 28%;
    }

    .bfr-aftr::before {
        left: 63%;
    }
}

@media screen and (max-width: 680px) {
    .recent-artikle .title-navbar {
        flex-direction: column;
        align-items: start;
    }

    .recent-artikle .title-navbar .btn-two {
        margin-top: 15px;
    }


    .bfr-aftr::after {
        left: 26%;
    }

    .bfr-aftr::before {
        left: 64%;
    }

    .black-box .black-boxes .border-right-2 {
        border-right: transparent;
    }
}


@media screen and (max-width: 605px) {
    .bfr-aftr::after {
        left: 22%;
    }

    .bfr-aftr::before {
        left: 67%;
    }
}

@media screen and (max-width: 530px) {
    .bfr-aftr::after {
        left: 17%;
    }

    .bfr-aftr::before {
        left: 70%;
    }
}

@media screen and (max-width: 500px) {
    .main-section .main-content_title {
        font-size: 38px;
        line-height: 40px;
    }

    .main-section {
        padding: 150px 0 170px 0;
    }

    .products .product-sort .product-sort-btn {
        padding: 10px 9px;
    }

    .title-box .title {
        font-size: 30px;
    }

    .footer .footer-content {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .black-box .black-boxes .border-bttm {
        border-right: transparent;
        border-bottom: 1px solid #A6A6A6;
        padding-bottom: 20px;
    }

    .black-box .black-boxes .border-right {
        border-right: transparent;
        border-bottom: 1px solid #A6A6A6;
        padding-bottom: 20px;
    }

    .black-box .black-boxes .border-right-2 {
        border-right: transparent;
        border-bottom: 1px solid #A6A6A6;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 450px) {
    .last-section .email {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .last-section p {
        width: 100%;
    }

    .last-section .email .sumbit {
        margin-top: 10px;
    }

    .bfr-aftr::after {
        left: 13%;
    }

    .bfr-aftr::before {
        left: 72%;
    }
    .products .title-navbar .product-sort-btn.active,
    .products .title-navbar .product-sort-btn {
        padding: 9px 8px;
    }
}

@media screen and (max-width: 395px) {
    .bfr-aftr::after {
        left: 4%;
    }
    .bfr-aftr::before {
        left: 78%;
    }
}